Das Template wird immer erstellt, wenn an den Modulen etwas geändert wird.
>> /workspaces/companyculturehub-generator-v2/templates/components

Der Script welcher das Template erstellt muss aleerdings manuell angestossen werden.
es ist diser Script:
/workspaces/companyculturehub-generator-v2/scripts/Content_template_generator_nach_modulupdates_v07.py

er erstellt dann das neue Template im folgenden Ordner:
/workspaces/companyculturehub-generator-v2/content_template_nach_update_modules

von dorther muss das das neue erzeuge Template kopiert werden in den folgenden Ordner:
/workspaces/companyculturehub-generator-v2/content_template_new_project

und natürlich dann noch umbennat werden zu:
content_template_max.json
/workspaces/companyculturehub-generator-v2/content_template_new_project/content_template_max.json

(vorher die ehemalige Datei noch in den Ordner mit den alten Templates verschieben )
/workspaces/companyculturehub-generator-v2/content_template_new_project/old_template_Dateien